.item {
  background-color: rgb(43, 43, 43);
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgba(119, 0, 255, 0.527);
  margin-bottom: 30px;
}

.todoTitle {
  margin-left: 30px;
  font-weight: 500;
  font-size: 25px;
}
.fTodoTitle {
  margin-left: 30px;
  font-weight: 500;
  text-decoration: line-through;
  text-decoration-color: rgb(119, 0, 255);
  text-decoration-thickness: 3px;
  font-size: 25px;
}

.completeBorder {
  border: 1px solid rgb(119, 0, 255);
  background: rgb(88, 3, 162);
  background: linear-gradient(
    180deg,
    rgba(88, 3, 162, 1) 0%,
    rgba(167, 0, 218, 1) 100%
  );
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(119, 0, 255);
  transition: 0.7s all;
}

.notCompleted {
  border: 1px solid rgb(119, 0, 255);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s all;
}

.complete {
  display: block;
}

.notComplete {
  display: none;
}

.deleteIcon {
  font-size: 30px;
  margin-right: 40px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: rgb(139, 2, 180);
}
